/*https://coolors.co/00c1d5-eac435-345995-fb4d3d-ca1551*/
body {
    font-family: arial;
    border: 10px;
}
.bold{
    font-weight: bold;
}
.title {
    color:#345995;
}

.container{
    text-align: center;
    padding-top: 50px !important;
    padding: 100px;
}
.button {
    background-color: #1A407C ;
    border-color: #1A407C;
    font-weight: bold;
    padding: 12px 15px;
    max-width: 100px;
    color: #ffffff;
}
.button_register {
    background-color: #007BFE ;
    border-color: #007BFE;
    font-weight: bold;
    padding: 12px 15px;
    max-width: 100px;
    color: #ffffff;
}
#huella{
    width: 50px;
    height: 50px;
}
